
.projectsWrap {
    width: 100%;
    margin-top: 2rem;
}

.projectsMasonry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;
}


@media (max-width: 1350px) {
    .projectsMasonry {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projectsMasonry {
        grid-template-columns: 1fr;
    }
}